In [18]:
import numpy as np
import pandas as pd

In [19]:
data = pd.DataFrame({"name" : ["kriss", "moris", "john", "mohan", "hlo"],
                    "age" : [22, 33, 21, 12, 25],
                    "fvrt_color" : ["red", "blue", "red", "green", "green"]})

In [20]:
data

    name  age fvrt_color
0  kriss   22        red
1  moris   33       blue
2   john   21        red
3  mohan   12      green
4    hlo   25      green

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
lbl = LabelEncoder()

In [23]:
encoded_column = lbl.fit_transform(data["fvrt_color"])

In [24]:
encoded_column

array([2, 0, 2, 1, 1])

In [25]:
data["encoded_column"] = encoded_column

In [27]:
data1 = pd.DataFrame({"name" : ["kriss", "moris", "john", "mohan", "hlo"],
                    "age" : [22, 33, 21, 12, 25],
                    "fvrt_color" : ["red", "blue", "red", "green", "green"]})

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe = OneHotEncoder()

In [32]:
ohe.fit_transform(data1.fvrt_color.values.reshape(-1,1)).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [36]:
new_data = pd.get_dummies(data["fvrt_color"])

In [37]:
data.join(new_data)

    name  age fvrt_color  encoded_column   blue  green    red
0  kriss   22        red               2  False  False   True
1  moris   33       blue               0   True  False  False
2   john   21        red               2  False  False   True
3  mohan   12      green               1  False   True  False
4    hlo   25      green               1  False   True  False