In [1]:
import pandas as pd

In [3]:
data = pd.DataFrame({"ID" : [1,2,3,4,5],
                     "Name" : ["A", "B", "C", "D", "E"],
                     "Age" : [21,23,24,18,19]
                    })

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.to_csv("Data.csv")

In [7]:
var = pd.read_csv("Data.csv")
var

   Unnamed: 0  ID Name  Age
0           0   1    A   21
1           1   2    B   23
2           2   3    C   24
3           3   4    D   18
4           4   5    E   19

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

In [9]:
myvar

day1    420
day2    380
day3    390
dtype: int64